* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body {
    position: relative;
    background: rgb(198,134,190);
    background: linear-gradient(90deg, rgba(198,134,190,1) 0%, rgba(70,17,71,1) 100%);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.game {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    width: 60vw;
    margin: 10vh auto;
    padding-top: 40px;
}
.newGame {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 90vh;
    width: 90vw;
    background: rgb(233,194,228);
    background: linear-gradient(90deg, rgba(233,194,228,1) 0%, rgba(161,39,163,1) 100%);
    border-radius: 20px;
    box-shadow: 0 0 2em black;
    margin: 5vh auto;
}
.squaresSection {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 50%;
    margin: 2% 2%;
}
.btn {
    padding: 5px;
    background-color: hotpink;
    background-image: linear-gradient(-60deg,
        transparent, transparent 40%,
        #ffffff44 40%, #ffffff44 60%,
        transparent 60%, transparent 100%
        );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
    color: #fff;
    font-size: 1.4em;
    height: 10%;
    width: 100%;
    margin: 15%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}
.btn:hover {
    background-position-x: -150%;
    transition: background-position-x 600ms;
    box-shadow: 0 0 1em hotpink;
}
.easyCard {
    width: 25%;
    height: 25%;
    border: 1px solid black;
    cursor: pointer;
}
.mediumCard {
    width: 16.6%;
    height: 16.7%;
    border: 1px solid black;
    cursor: pointer;
}
.hardCard {
    width: 12.5%;
    height: 12.5%;
    border: 1px solid black;
    cursor: pointer;
}
.game h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 4em;
    flex-grow: 1;
    letter-spacing: 2px;
    color: white;
    text-shadow: 4px 2px hotpink;
    animation: fly 1s linear infinite;
}
.game h3 {
    padding-left: 20px;
}
.level {
    display: flex;
    flex-grow: 3;
    justify-content: space-between;
}
.level .easy, .medium, .hard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
    text-align: center;
    background-color: hotpink;
    background-image: linear-gradient(-60deg,
        transparent, transparent 40%,
        #ffffff44 40%, #ffffff44 60%,
        transparent 60%, transparent 100%
        );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
    transition: 0.5s;
    transform-style: preserve-3d;
    perspective: 200px;
    overflow: hidden;
    font-size: 2em;
    border-radius: 20px;
    color: white;
}
.level section:hover {
    background-position-x: -150%;
    transition: background-position-x 600ms;
    box-shadow: 0 0 1em hotpink;
    cursor: pointer;
    border-radius: 20px;
}
aside {
    display: grid;
    height: 50%;
    width: 90%;
    margin: 5% auto 10%;
    border-radius: 20px;
}
.easyPallete {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}
.mediumPallete {
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%; 
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%; 
}
.hardPallete {
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.6%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.6%;
}
.game p {
    margin-top: 20px;
    font-size: 1.6em;
}
aside div:first-child {
    border-radius: 10px 0 0 0;
}
aside div:last-child {
    border-radius: 0 0 10px 0;
}
aside.easyPallete div:nth-child(4) {
    border-radius: 0 10px 0 0 ;
}
aside.easyPallete div:nth-child(13) {
    border-radius: 0 0 0 10px ;
}
aside.mediumPallete div:nth-child(6) {
    border-radius: 0 10px 0 0 ;
}
aside.mediumPallete div:nth-child(31) {
    border-radius: 0 0 0 10px ;
}
aside.hardPallete div:nth-child(8) {
    border-radius: 0 10px 0 0 ;
}
aside.hardPallete div:nth-child(57) {
    border-radius: 0 0 0 10px ;
}
aside div {
    background-color: plum;
    border: 1px solid black;
}
.hidden {
    background-color: gray!important;
}
.off {
    cursor: default;
    pointer-events: none;
    background-color: transparent!important;
}
.finalResult {
    order: -1;
    align-self: center;
    text-align: center;
    padding-top: 30px;
    font-size: 12em;
    flex-grow: 1;
    letter-spacing: 2px;
    color: white;
    text-shadow: 4px 2px hotpink;
    animation: grow 1s linear;
}
@keyframes grow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fly {
    0% {text-shadow: 4px 2px hotpink}

    10% {text-shadow: -4px 2px hotpink;}

    50% {text-shadow: 6px 0 hotpink;}
    
    90% {text-shadow: -4px 2px hotpink;}

    100% {text-shadow: 4px 2px hotpink}
    
}
@media (max-width: 480px) {
    .game h1 {
        font-size: 4em;
    }
    .game {
        flex-direction: column;
        height: 90vh;
        width: 100vw;
        margin: 0;
    }
    .level {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }
    .level section.easy, .medium, .hard {
        flex-basis: 30%;
        width: 80%;
    }
    .level aside {
        display: none;
    }
    .newGame {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background: rgb(233,194,228);
        background: linear-gradient(90deg, rgba(233,194,228,1) 0%, rgba(161,39,163,1) 100%);
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }
    .squaresSection {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .btn {
        font-size: 1.6em;
        height: 20%;
    }
    .finalResult {
        font-size: 8em;
        padding-top: 100px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .game h1 {
        font-size: 4em;
        line-height: 3;
    }
    .game {
        flex-direction: column;
        height: 90vh;
        width: 100vw;
        margin: 0;
    }
    .level {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }
    .level section.easy, .medium, .hard {
        flex-basis: 30%;
        width: 80%;
    }
    .level aside {
        display: none;
    }
    .newGame {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        margin: 0;
        border-radius: 0;
    }
    .squaresSection {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .btn {
        margin: 2%;
        line-height: 0px;
        padding: 20px;
    }
    .finalResult {
        font-size: 8em;
        padding-top: 100px;
    }
    .game p {
        margin-top:0;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .game h1 {
        font-size: 6em;
    }
    .game {
        flex-direction: column;
        height: 90vh;
        width: 100vw;
        margin: 0;
    }
    .level {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }
    .level section.easy, .medium, .hard {
        flex-basis: 30%;
        width: 80%;
    }
    .level aside {
        display: none;
    }
    .newGame {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        margin: 0;
        border-radius: 0;
    }
    .squaresSection {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .btn {
        margin: 2%;
        line-height: 0px;
        padding: 25px;
    }
    .finalResult {
        font-size: 8em;
        padding-top: 100px;
    }
    .game p {
        margin-top:0;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    .game h1 {
        font-size: 5em;
    }
    .game {
        width: 80vw;
    }
}